//////////////////////////////////////////////////
/// LOGO
.logo {
    margin-left: 2rem;
    height: 3.25rem;
}
//////////////////////////////////////////////////
/// SEARCH BOX
.search {

    display: flex;
    flex: 0 0 40%;
    justify-content: center;
    
    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: 0.7rem 2rem;
        border-radius: 10rem;
        width: 90%;
        transition: all 0.3s;
        margin-right: -3.25rem;

        &:focus {
            background-color: var(--color-grey-light-3);
            outline: none;
            width: 100%;            
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);
        &:active {
            outline: none;
            transform: scale(1.1);
        }
        &:focus {
            outline: none;
        }
    }
    &__icon {
        height: 2rem;
        width: 2rem;
        fill:var(--color-grey-dark-3) ;
    }
}


//////////////////////////////////////////////////
/// USER NAVIGATOR

.user-nav {
    display: flex;
    align-self: stretch;
    justify-content: center;
    & > * {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 2rem;
        cursor: pointer;
    }
    & > *:hover {
        background-color: var(--color-grey-light-2);
    }
    &__icon-box {
        position: relative;
    }

    &__icon { 
        height: 3rem;
        width: 3rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        font-size: 1rem;
        background-color: var(--color-primary);
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-white);
    }

    &__user-photo {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 1rem;
    }

    
}

//////////////////////////////////////////////////
/// SIDEBAR

.side-nav {
    font-size: 1.4rem ;
    list-style: none;
    margin-top: 3.5rem;
    width: 100%;

    &__item {
        position: relative;
        font-family: inherit;
        text-align: start;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    
        &--active {
            background-color: var(--color-primary);
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: var(--color-primary);
            transition: transform 0.2s, width 0.4s cubic-bezier(1,0,0,1)  0.2s, background-color 0.2s;
            transform-origin: bottom;
            transform: scaleY(0);

            
        }
        &:active::before {
            background-color: var(--color-primary-light);
        }
        
        &:hover::before,
        &--active::before {
            width: 100%;
            transform: scaleY(1);
        }
       
    }
  

    &__icon {
        height: 1.75rem;
        width: 1.75rem;
        fill: var(--color-grey-light-1);
        margin-right: 2rem;
    }
    &__link {
        
        &:link,
        &:visited {  

        text-decoration: none;
        color: var(--color-grey-light-1);
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        align-items: center;
        position: relative;
        z-index: 10;

        }
    }
}
.legal {
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-grey-light-4);
    padding: 2.5rem;
}
//////////////////////////////////////////////////
/// Gallary images
.hotel-view__images {
    display: flex;
    flex-direction: row;

    &--hotel {
        width: calc(100%/3);
    }
}
//////////////////////////////////////////////////
/// OverView
/// 
.overview {
    
    &__heading {

        letter-spacing:1px;
        font-size: 2.25rem;
        font-weight: 300;        
        color: var(--color-grey-dark-2);
        text-transform: uppercase;
        padding: 1.5rem 3rem;
    }
    &__stars {
        margin-right: auto;
        display: flex;
    }
    &__star {
        height: 2rem;
        width: 2rem;
        fill: var(--color-primary);
    }
    &__location {
        display: flex;
        margin-right: 2rem;
        &-icon {
            height: 2rem;
            width: 2rem;
            fill: var(--color-grey-dark-2);
            margin-right: 1rem;
        }
    }
  
    &__rating {

        background-color: var(--color-primary);
        height: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;     
        padding: 0 1.5rem;
        color: var(--color-white);
        &-number {
            font-size: 3rem;
            font-weight: 300;
        }
        &-text {
            text-transform: uppercase;
        }
    }
}