.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: 0 2rem 6rem var(--color-shadow-dark);
    min-height: 50rem;
}
.header {
    font-size: 1.4rem ;
    height: 7rem;
    background-color: var(--color-white);
    border-bottom: var(--color-grey-light-2) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content {
    display: flex;
}
.sidebar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: var(--color-white);
    align-items: center;
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
}
.hotel-view {
    height: 80rem;
    background-color: var(--color-grey-light-2);
    flex: 1;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
}

.btn-inline {
    
    border: none;
    border-bottom: 1px solid var(--color-primary);
    padding-bottom: 4px;
    color: var(--color-primary);
    background-color: transparent;
    cursor:pointer;
    
}
